.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 480px;

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }

    .popup-container {
        display: flex;

        .popup-link {
            font-size: 10;
            border-bottom: #0000EE 0.125em solid;
            color: #0000EE;
            cursor: pointer;
        }

        .popup-link:hover {
            color: #FF0000;
            border-bottom: #FF0000 0.125em solid;
        }
    }
}