################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactApp1.Server/appsettings.json
/reactapp1.client/.env
/ReactApp1.Server/appsettings.json
