.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .form-container {
    margin: auto;
    padding-bottom: 20px;
    width: 350px;
  }

  .chart-container {
    text-align: center;
  }

}