.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  .form-container {
    margin: auto;
    padding-bottom: 30px;
    width: 410px;
  }

  .chart-container {
    text-align: center;
  }

}