.mood-input-container {
    height: 20px;
    width: 200px;
    display: inline-block;

    .mood-weight-input-container {
      float: right;

        .mood-weight-input {
          width: 35px;
          float: right;
        }
      }
  }